.save_card {
  position: relative;
  top:0;
  right: 0;
  z-index: 110;
  .save {
    display: flex;
    justify-content: space-between;
    width:100%;
    .save_right {
      .save_right_btn {
        margin-left: 5px;
      }
    }
  }
}
