.save_card {
  position: fixed;
  bottom: 2.5%;
  right: 1%;
  z-index: 110;
  .save {
    display: flex;
    justify-content: space-between;
    .save_right {
      .save_right_btn {
        margin-left: 5px;
      }
    }
  }
}
